.header{
    background-color:  #414141;
    color: #888787;
    padding:  5px;
    position: fixed;
    width: 100%;
    top : 0;
}

h2{
    width: 90%;
    cursor: pointer;
}

button{
    float: right;
    margin-top: -46px;
    margin-right: 33px;
    background-color: #e2dcdc;
    border: none;
    color: black;
    font-family: serif;
    cursor: pointer;
    padding: 6px 20px 6px 20px;
}