.category{
    height: 100%;
    width: 160px;
    position: fixed;
    background-color: #f2f2f2;
    margin-top: 77px;
    left : 0;
}

.gallery h4{
    text-align: center;
    height: 20px;
}

p{
    margin-top: 100px;
    margin-left: 180px;
    width: auto;
    font-size: 17px;
    float: left;
}
.gallery label{
    font-weight: bold;
    margin-left: 10px;
}

img{
    width: 100% ; 
    height : 200px;
}

.category button{
    display: block;
    text-decoration: none;
    cursor: pointer;
    padding: 18px;
    width: inherit;
}

.category label{
    padding-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: inherit;
    cursor: pointer;
    float: left;
    border-bottom: 1px solid #e2dcdc;
}

.menu_btn {
    background-color: #f2f2f2; 
    border: none;
    color: black;
    font-family: serif;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-bottom: 1px solid #e2dcdc;
}

.add_btn{
    float: right;
    background-color: #6899a0;
    cursor: pointer;
    border: none;
    color: white;
    font-family: serif;
    padding: 6px;
    margin-right: 10px;
}

.added_btn {
    float: right;
    background-color: #e2dcdc;
    cursor: no-drop; 
    border: none;
    color: black;
    font-family: serif;
    padding: 6px;
    margin-right: 10px;
}
.category button:hover {
    background-color: #ccc; 
}

.disabled:hover {
    cursor: not-allowed !important;
}
.selected {
    background-color: #ccc !important;
  }

input[type='text'] {
    margin-left: 25px;
    margin-top: 91px;
    padding: 7px;
}

.products {
    margin-left: 180px;
    margin-top: 29px;
}

.gallery {
    width: 200px;
    float: left;
    height: 300px;
    border: 1px solid #eee;
    border-radius: 10px;
    margin-right: 25px;
    margin-bottom: 5px;
}