<div class="category">
    <label><input type="checkbox" name="checkbox" [(ngModel)]="isAllCategory" (change)="checkboxChange()" value="value">All Categories</label>

    <button class="menu_btn" *ngFor="let category of categoryList"
          [class.selected]="category.Id === selectedCategoryId && !isAllCategory" [disabled]="isAllCategory"
      (click)="selectCategory(category)">{{category.Name}}</button>
</div>  
<p style="margin-left: 180px; width: auto;font-size: 17px;float: left;">
   {{isAllCategory ? 'Search in all categories' : 'Search in category'}} <span style="font-weight: bold">{{isAllCategory ? '' : selectedCategoryName}}  : </span>
</p>
<input type="text" [(ngModel)]="searchText" placeholder="Search product by name">

<div class="products">
  <div class="gallery" *ngFor="let product of productList | filter : searchText">
          <h4>{{product.Name}}</h4>
          <img [src]="product.Image">
          <label>${{product.Price}}</label>
          <button [ngClass]="product.AddedToCart ? 'added_btn' : 'add_btn'"
           [disabled]="product.AddedToCart" (click)="addToCart(product)">{{product.AddedToCart  ? 'Added to cart' :'Add to cart'}} </button>     
  </div>
</div>