<table *ngIf="shoppingService.cartItems.length != 0">
    <thead>
        <th>Image</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let cart of shoppingService.cartItems">
            <td> 
               <img [src]="cart.Image">
            </td>
            <td>
                {{cart.Name}}</td>
            <td>
                <select [(ngModel)]="cart.Quantity">
                    <option *ngFor="let quantity of quantityArr" [ngValue]="quantity">{{quantity}}</option>
                </select>
            </td>
            <td>
                ${{cart.Price}}
            </td>
            <td>
                ${{cart.Price * cart.Quantity}}
            </td>
            <td>
                <button class="add_btn" (click)="removeItem(cart)">Remove</button> 
            </td>
        </tr>
        <tr *ngIf="shoppingService.cartItems.length !=0">
            <td colspan="3"></td>
            <td>Total</td>
            <td>${{getTotal()}}</td>
            <td></td>
        </tr>
    </tbody>
</table>
<h2 *ngIf="shoppingService.cartItems.length == 0">Your Shopping Cart is empty...!!!</h2>