td{
    padding: 30px;
}

th{
    padding: 10px;
}

select {
    width : 50px;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 65%;
    text-align: left;
}

table, th, td {
    border-collapse: collapse;
}

tr {
   border-bottom: 1px solid #ccc;
}

thead {
    background: #ccc;
}

img {
    width :  100px;
}